{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/717logo.png' %}" type="image/x-icon">
    <title>Mis Pedidos - 717</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="body">
    <header>
        <div class="logo">
            <img src="{% static 'img/717logo.png' %}" alt="717" width="50">
        </div>
        <nav>
            <ul>
                <li><a href='{% url "inicio" %}'>INICIO</a></li>
                <li><a href='{% url "productos" %}'>PRODUCTOS</a></li>
                <li><a href='{% url "contacto" %}'>CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main class="account-container">
        <nav class="account-nav">
            <a href='{% url "perfil" %}'>Mi Perfil</a>
            <a href='{% url "pedidos" %}' class="active">Mis Pedidos</a>
            <a href='{% url "favoritos" %}'>Mis Favoritos</a>
        </nav>

        <div class="orders-content">
            <h1>717</h1>
            <h2 class="mb-4">Mis Pedidos</h2>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% if pedidos %}
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Pedido ID</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.id }}</td>
                            <td>{{ pedido.fecha }}</td>
                            <td>${{ pedido.total|intcomma }}</td>
                            <td>
                                <a href="{% url 'detalles_pedido' pedido.id %}" class="btn btn-dark btn-sm">Detalles</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="empty-state">
                    <p>Actualmente no tienes pedidos</p>
                </div>
            {% endif %}
        </div>
        
    </main>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>

